@import "./variables.scss";
html,
body {
  min-height: 100svh;
  margin: 0;
  color: $main-color;
}
body {
  min-height: 100svh;
  line-height: 1;
  position: relative;
  font-size: 16px;
  //background-color: $background-color;
  font-family: $font-family;
}
// Оболонка wrapper ========================================================================================================
.wrapper {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  font-size: 16px;
}
.no-scroll {
  overflow: hidden;
}
// (i) Стилі будуть застосовуватись до
// всіх класів, що містять *__container
// Наприклад header__container, main__container і т.п.

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

// Стилі для чуйних картинок (IBG)
// Сніппет (HTML): ibg (div з картинкою та класами)
// Сніппет (HTML): ibga (a з картинкою та класами)
[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
[class*="-ibg-contain"] {
  img {
    object-fit: contain;
  }
}
* {
  box-sizing: border-box;
}
